.App {
  margin-top: 5%;
  text-align: left;
}


.dropdown-check-list {
  /* display: inline-block; */
  display: inline-block;
  margin-left: 50px;
}

.dropdown-check-list .anchor {
  cursor: pointer;
  display: inline;
  padding: 5px 50px 5px 10px;
  border: 1px solid #ccc;
}

.dropdown-check-list ul.items {
  padding: 2px;
  visibility: hidden;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
  text-align: left;
}

.dropdown-check-list ul.items li {
  list-style: none;
}

.dropdown-check-list.visible .items {
  visibility: visible;
}
